{% extends "base.html" %} {% block title %}Masukkan Token Ujian{% endblock %} {% block content
%}
    
<br>
<form class ="text-center" method="POST">
    <h3 align="center">Masukkan Token Ujian</h3>
    <div class="form-group">
    <input 
        type="number"
        class="form-control"
        id="token" 
        name="token"
        maxlength="15"
        placeholder="Masukkan token (angka)"
        required
    />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-secondary" id="stt" href="/stt/nav">Rekam Perintah</a>
</form>
{% endblock %}