{% extends "base.html" %} {% block title %}Edit Question{% endblock %} {% block
    content %}
    
<br>
<form method="POST">
  <h3 align="center">Edit Question</h3>
  <div class="form-group">
    <label for="question">Question</label>
    <input
      type="text"
      class="form-control"
      id="question"
      name="question"
      placeholder="Enter question"
      value="{{questions.question}}"
      required
    />
  <div class="form-group">
    <label for="answer1">Answer A</label>
    <input
      type="text"
      class="form-control"
      id="answer1"
      name="answer1"
      placeholder="Enter answer A"
      value="{{questions.answer1}}"
      required
    />
  </div>
  <div class="form-group">
    <label for="answer2">Answer B</label>
    <input
      type="text"
      class="form-control"
      id="answer2"
      name="answer2"
      placeholder="Enter answer B"
      value="{{questions.answer2}}"
      required
    />
  </div>
  <div class="form-group">
    <label for="answer3">Answer C</label>
    <input
      type="text"
      class="form-control"
      id="answer3"
      name="answer3"
      placeholder="Enter answer C"
      value="{{questions.answer3}}"
      required
    />
  </div>
  <div class="form-group">
    <label for="answer4">Answer D</label>
    <input
      type="text"
      class="form-control"
      id="answer4"
      name="answer4"
      placeholder="Enter answer D"
      value="{{questions.answer4}}"
      required
    />
  </div>
  <div class="form-group">
    <label for="correct">Select Correct Answer</label>
    <select id="correct" name="correct" required>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
    </select>
  </div>
  <br />
  <a type="button" class="btn btn-secondary" href="/all_question/1">Back</a> 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
    